
*{
    padding: 0;
    margin: 0;
    font-family: 'DM Sans';
    color: rgb(255, 255, 255);

}
body{
    margin: 0;
    font-family: 'Arial, Tahoma, Serif';
    background-color:  rgb(0, 0, 0);
    
}
.background2{
    background-color: rgb(36, 35, 35);
    height: 75px;
    margin-top: 125px;
    padding-top: 50px;
    text-align: center;

}
    .image{
        padding: 50px;
        float: left;
        margin-top: 50px;
        margin-left: 75px;
        
        
    }
    img{
        border-radius: 20px ;
        margin-right: 40px;
        
    }
    
table{
    font-family: 'DM Sans';
    margin-left: 400px;
}
/*break*/

h2{
    color: rgb(0, 0, 0);
    

}

    nav {
        display:flex;
            
        justify-content: space-between;
        padding: 1rem 2rem;
        
            
            
        background: rgb(182, 162, 255);
            
    }
    nav ul { /* formatting navbar links to be side-to-side */
        display: flex;
        list-style: none;
            
            
            
            
    }
    nav li { /* space between navbar links */
        padding-left: 1rem;
        list-style-type: none;
        
            
    }
    nav a {
        text-decoration: none; /* get rid of hyperlink underline */
        color: black;
            
            
            
    }
        


/*break*/
.intro h1 {
   margin-bottom:60px;
   padding-top: 80px;
   /*margin-top: 20px;*/

    
    
}
.intro p {
    padding-left: 450px;
    width: 800px;
    
    
    
    
    
    
    
    
}
#link a{
    text-decoration: none;
    color: black;
    
    
}
#link a:hover{
    text-decoration: underline;
    color: white;
    
    
}

hr { /*look for why you need this*/
    width: 90%;
    margin: auto;
}
/* break from top*/

h3{
    
    font-family: 'Times New Roman';
    text-align: center;
    border-radius: 10px;
    justify-content: center;
    margin-top: 250px;
    
    background-color: rgb(196, 157, 215);
    border: 5px solid rgb(227, 225, 254);
    width: 400px; 
    margin: 1rem auto;
    margin-top: 250px;
    height:60px;
    
}

    .name p{
        width: 785px;
        border-right: 3px solid white ;
        overflow:hidden;
        white-space: nowrap;
        animation: typing 3s steps(30), cursor .6s step-end infinite alternate ;

    }
    @keyframes cursor {
        50% {border-color: rgb(196, 157, 215)}
        
    }

    @keyframes typing{
        from  { width :0px}
    }
        

    .name p{
        text-align: center;
        margin: 1rem auto;
        margin-top: 150px;
        
    }
    
/*break*/
.proj1{
    background-color: beige;
    border: 5px solid wheat;
    border-radius: 10px;
    width: 1000px;
    margin-left: 200px;
    margin-top: 100px;
    height: 200px;
    /*color: black;*/
    
    text-align: center;
    /*text-decoration: none;*/
    font-family: 'Times New Roman';
    h4 a{
        color: black;
        text-decoration: none;
        /*change color of the EquiBot text*/
    }
    h4 a:hover{
        text-decoration: underline;
        color: rgb(196, 157, 215);;
    }
    p{
        color:black;
        
        margin-top: 15px;

    }
    
    


}
.proj2{
    background-color: beige;
    border: 5px solid wheat;
    border-radius: 10px;
    width: 1000px;
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    
    height: 200px;
    /*color: black;*/
    
    text-align: center;
    /*text-decoration: none;*/
    font-family: 'Times New Roman';
    
    h5 a{
        color: black;
        text-decoration: none;
        /*change color of the EquiBot text*/
    }
    h5 a:hover{
        text-decoration: underline;
        color: rgb(196, 157, 215);;
    }
    p{
        color:black;
        
        margin-top: 25px;

    }
    
    


}

    
    