
*{
    padding: 0;
    margin: 0;
    font-family: 'DM Sans';
    color: rgb(255, 255, 255);
/*flex*/
}
body{
    margin: 0;
    font-family: 'Arial, Tahoma, Serif';
    background-color:  rgb(0, 0, 0);
    
}
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(36, 35, 35);
    font-size: 15px;
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px 0px;
    
}


    
    
table{
    font-family: 'DM Sans';
    margin-left: 400px;
}
/*break*/

h2{
    color: rgb(0, 0, 0);
    

}

    nav {
        display:flex;
            
        justify-content: space-between;
        padding: 1rem 2rem;
        
            
            
        background: rgb(182, 162, 255);
            
    }
    nav ul { /* formatting navbar links to be side-to-side */
        display: flex;
        list-style: none;
            
            
            
            
    }
    nav li { /* space between navbar links */
        padding-left: 1rem;
        list-style-type: none;
        
            
    }
    nav a {
        text-decoration: none; /* get rid of hyperlink underline */
        color: black;
            
            
            
    }
        


/*break*/
.intro{
    
    display: flex;
  flex-direction: row;
  color: white;
  text-align: left;
  padding: 100px 100px;
  width: 75%;
 
}


.intro #greeting{
    display: flex;
  flex-direction: column;
  padding-left: 100px;
  
  
  
}
.intro #link{
    width: fit-content;
    padding-top: 60px;
}




    
    
    
    
    
    
    
    

#link a{
    text-decoration: none;
    color: black;
    
    
}
#link a:hover{
    text-decoration: underline;
    color: white;
    
    
}

hr { /*look for why you need this*/
    width: 90%;
    margin: auto;
}
/* break from top*/

h3{
    
    font-family: 'Times New Roman';
    text-align: center;
    border-radius: 10px;
    justify-content: center;
    margin-top: 250px;
    
    background-color: rgb(196, 157, 215);
    border: 5px solid rgb(227, 225, 254);
    width: 400px; 
    margin: 1rem auto;
    margin-top: 250px;
    height:60px;
    
}

    .name p{
        width: 785px;
        border-right: 3px solid white ;
        overflow:hidden;
        white-space: nowrap;
        animation: typing 3s steps(30), cursor .6s step-end infinite alternate ;

    }
    @keyframes cursor {
        50% {border-color: rgb(196, 157, 215)}
        
    }

    @keyframes typing{
        from  { width :0px}
    }
        

    .name p{
        text-align: center;
        margin: 1rem auto;
        margin-top: 150px;
        
    }
    
/*break*/


.projects-items, .projects-items a, .projects-items p{
display: flex;
  flex-direction: column;
  color: black;
  text-align: center;
  padding: 10px;
  
  
  
  
  
  
  
  
    }

#project1, #project2{
   
  border: 5px solid rgb(248, 244, 244);
  border-radius: 10px;
  width: fit-content;
  padding: 20px;
  background-color: wheat;
  
 
  margin: 10px;
  
  


  

}

.projects-items #contributer{
    border: 2px solid black ;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    color: white;
    text-align: center;
   
}

    


    
    